<header class="float">
  <a role="link" routerLink='/home' class="brand">
      <i class="icon app"></i>
      <span>Rezijiser</span>
  </a>

  <div class="divider"></div>

  <div class="element">
    <button (click)="openAddBillDialog()" class="btn-new"></button>
  </div>
  
  <div ngbDropdown>
    <i ngbDropdownToggle class="fas fa-envelope"></i>
    <div ngbDropdownMenu class="fix-dropdown">
      <app-notification></app-notification>
    </div>
  </div>

  <div class="headerText logout">
    <i class="fas fa-user"></i>
    <span class="afterIcon">{{ user.name }} {{ user.surname }}</span>
  </div>
</header>
