:host{
    order: 2;
    height: auto;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: auto;
}

.brand{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    >span {
        color: #393939;
        font-family: Quicksand;
        font-weight: 500;
        font-size: 40px;
    }
}

.content-right{
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
}

.afterIcon{
    padding-left: 5px;
}

.headerText>i, .headerText>span{
    font-size: 20px;
}