<header class="float">
    <a role="link" routerLink='/home' class="brand">
        <i class="icon app"></i>
        <span>Rezijiser</span>
    </a>

    <div class="divider"></div>

    <div>
      <button routerLink="/bill" [queryParams]="{ action: 'new'}"class="btn-new"></button>
    </div>

    <div class="notifications">
        <i class="fas fa-envelope"></i>
    </div>

    <div class="headerText logout">
      <i class="fas fa-user"></i>
      <span class="afterIcon">{{ user.name }} {{ user.surname }}</span>
    </div>
</header>
