.critical {
  background-color: #FF000033;
}

.info {
  background-color: #0000FF33;
}

.warning {
  background-color: #FFFF0090;
}

.notification-card {
  width: 200px;
  height: 130px;
  margin: 5px;
}

.title {
  font-size: 15px;
  font-weight: 900;
}

.subtitle {
  font-size: 13px;
  font-weight: 500;
}

.text {
  font-size: 10px;
  font-weight: 300;
}

.point {
  cursor: pointer;
}
