<footer>
    <div class="container fix-container">
        <div class="row">

            <div class="col-md-12 border-top footer-links">
                <div class="col-md-4 footer-copyright">
                    <div class="copyright-text">
                        <p aria-readonly="true">Copyright &copy; 2021 FERIT Foka</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-link">
                        <a role="link" href="#">Laboratory Tests</a>
                        <a role="link" href="#">Departments</a>
                        <a role="link" href="#">Insurance Policy</a>
                        <a role="link" href="#">Careers</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>