:host{
    order: 0;
    height: auto;
}

footer {
    //position: fixed;
    width: 100%;
    padding: 10px;
}

footer h4 {
    padding-bottom: 5px;
}

footer a {
    color: #757575;
}

footer a:hover {
    color: #4267b2;
}

.copyright-text p,
.footer-link a {
    color: #858585;
    font-size: 12px;
    font-weight: 500;
}

.footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
}

.footer-links {
    margin-top: 30px;
}

.footer-copyright {
    padding-left: 0 !important;
}