<mat-form-field hideRequiredMarker class="form-input">
  <mat-label>Datum dospijeća</mat-label>
  <input matInput required [matDatepicker]="paydayPicker" [(ngModel)]="bill.payday">
  <mat-datepicker-toggle matSuffix [for]="paydayPicker"></mat-datepicker-toggle>
  <mat-datepicker #paydayPicker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field class="form-input">
  <mat-label>Datum plaćanja</mat-label>
  <input matInput [matDatepicker]="datePaidPicker" [(ngModel)]="bill.datePaid">
  <mat-datepicker-toggle matSuffix [for]="datePaidPicker"></mat-datepicker-toggle>
  <mat-datepicker #datePaidPicker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker class="form-input">
  <mat-label>Cijena</mat-label>
  <input matInput required [(ngModel)]="bill.cost">
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker class="form-input">
  <mat-label>Tip</mat-label>
  <mat-select disabled="{{isEdit}}" [(ngModel)]="bill.type">
    <mat-option *ngFor="let type of types" [value]="typeValue[types.indexOf(type)]"> {{ type }} </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="form-input" *ngIf="counterType.includes(bill.type)" hideRequiredMarker>
  <mat-label>Potrošnja</mat-label>
  <input matInput required [(ngModel)]="bill.counter">
</mat-form-field>
<br>
<div class="form-buttons">
  <button mat-raised-button (click)="onSubmit()"> {{ isEdit ? 'Uredi' : 'Dodaj' }} </button>
  <button mat-raised-button (click)="cancel()">Otkaži</button>
</div>