<section class="navbar container-default" role="navigation">
    <div class="fix-container">
        <ul class="nav navbar-nav">
            <li class="power"><a role="link" routerLink='/power'><i class="icon power"></i><span>Struja</span></a></li>
            <li class="water"><a role="link" routerLink='/water'><i class="icon water"></i><span>Voda</span></a></li>
            <li class="gas"><a role="link" routerLink='/gas'><i class="icon gas"></i><span>Plin</span></a></li>
            <li class="reservation"><a role="link" routerLink='/reservation'><i class="icon reservation"></i><span>Pričuva</span></a></li>
            <li class="trash"><a role="link" routerLink='/trash'><i class="icon trash"></i><span>Odvoz smeća</span></a></li>
            <li class="communal"><a role="link" routerLink='/communal'><i class="icon communal"></i><span>Komunalac</span></a></li>
            <li class="hrt"><a role="link" routerLink='/hrt'><i class="icon hrt"></i><span>HRT</span></a></li>
            <li class="telecom"><a role="link" routerLink='/telecom'><i class="icon telecom"></i><span>Telekomunikacije</span></a></li>
            <li class="break"></li>
            <li class="settings"><a role="link" routerLink='/settings'><i class="icon fa fa-cog"></i><span>Postavke</span></a></li>
            <li class="break"></li>
            <li class="logout"><a role="link" routerLink='/logout' class="headerText logout"><i class="icon fa fa-sign-out"></i><span class="afterIcon">Logout</span></a></li>
        </ul>

    </div>
</section>