<section class="navbar navbar-default" role="navigation">
    <div class="container">

        <a role="link" routerLink='/' class="navbar-brand">Rezijiser</a>

        <ul class="nav navbar-nav navbar-right">
            <li><a role="link" routerLink='/power'>Struja</a></li>
            <li><a role="link" routerLink='/water'>Voda</a></li>
            <li><a role="link" routerLink='/gas'>Plin</a></li>
            <li><a role="link" routerLink='/telecomms'>Telekom</a></li>
            <li><a role="link" routerLink='/reservation'>Pričuva</a></li>
            <li><a role="link" routerLink='/communal'>Komunalac</a></li>
            <li><a role="link" routerLink='/hrt'>HRT</a></li>
        </ul>

    </div>
</section>