@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free";
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.fix-container{
  order: 1;
  flex-grow: 1;
}

.container-default{
    background: #ffffff;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .075);
    border: none;
    margin-bottom: 0;
    padding: 10px;
    height: 100%;
    opacity: 70%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 30px;
}

a {
  color: #333 !important;
  font-size: 14px !important;
  text-decoration: none !important;
}

.section-title {
  padding-bottom: 20px;
}

.section-btn {
  background: #2a9df4;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  padding: 14px 20px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
}

.section-btn:hover {
  transform: translateY(-5px);
}

i.icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
  width: 25px;
  font-size: 25px;
  &.app{
      background-image: url("./assets/icons/icon_app.svg");
  }
  &.trash{
      background-image: url("./assets/icons/icon_trash.svg");
  }
  &.hrt{
      background-image: url("./assets/icons/icon_tv.svg");
  }
  &.communal{
      background-image: url("./assets/icons/icon_recycle.svg");
  }
  &.reservation{
      background-image: url("./assets/icons/icon_building.svg");
  }
  &.telecom{
      background-image: url("./assets/icons/icon_phone.svg");
  }
  &.gas{
      background-image: url("./assets/icons/icon_fire.svg");
  }
  &.water{
      background-image: url("./assets/icons/icon_water.svg");
  }
  &.power{
      background-image: url("./assets/icons/icon_power.svg");
  }
  &.export{
    background-image: url("./assets/icons/icon_export.svg");
  }
}

