/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column-reverse;
  font-family: Arial, Helvetica, sans-serif;
}

.fix-container{
  order: 1;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333 !important;
  font-size: 14px !important;
  text-decoration: none !important;
}

.section-title {
  padding-bottom: 20px;
}

.section-btn {
  background: #2a9df4;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
  padding: 14px 20px;
  transition: transform 0.1s ease-in;
  transform: translateX(0);
}

.section-btn:hover {
  transform: translateY(-5px);
}