<app-header></app-header>
<div class="fix-container">
  <app-navigation></app-navigation>
  <div class="container row">

    <div class="col-5 colfix">
      <mat-card class="card">
        <mat-card-title>Ukupni troškovi</mat-card-title>
        <mat-card-content>
          <app-bar-chart [update]="update" [data]="sumData"></app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-5 colfix">
      <mat-card class="card">
        <mat-card-title>Ukupni troškovi</mat-card-title>
        <mat-card-content>
          <app-pie-chart [update]="update" [data]="sumData"></app-pie-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-2 colfix">
      <mat-card class="card">
        <mat-card-title>Datum</mat-card-title>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4 colfix">
      <mat-card class="card">
        <mat-card-title>Najmanji račun</mat-card-title>
        <mat-card-content>
          <app-bar-chart [update]="update" [data]="minData"></app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4 colfix">
      <mat-card class="card">
        <mat-card-title>Najveći račun</mat-card-title>
        <mat-card-content>
          <app-bar-chart [update]="update" [data]="maxData"></app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4 colfix">
      <mat-card class="card">
        <mat-card-title>Prosjećni račun</mat-card-title>
        <mat-card-content>
          <app-bar-chart [update]="update" [data]="avgData"></app-bar-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <app-stats [update]="update" class="col-12 card"></app-stats> -->
  </div>
</div>
<app-footer></app-footer>